<div style="padding: 10px; border: 1px solid red; display: flex; justify-content: center; align-items: center;">
    <label>Naziv proizvoda</label>
    <input type="text" [(ngModel)]="productName" (input)="changeProductName()" class="form-control" />
    <div>
        <select [(ngModel)]="selectedType" (change)="promijenitProductType()">
            <option *ngFor="let i of productTypeList" [value]="i.id" class="form-control">{{i.name}}</option>
        </select>
    </div>

</div>
<h1>Trenutno odabrani tip proizovda je: {{selectedTypeName}}</h1>


<div class="row">
    <div *ngFor="let product of products" class="col-lg-3 col-sm-6 col-xs-12 productBox">
        <img [src]="product.image" width="100" height="100" alt="">
        <p>{{product.name}}</p>
        <p>{{product.price | number:"1.2-2"}}</p>
    </div>
</div>

