<h1>{{nekiNaslov}}</h1>

<h4>Datum: {{today | date:"dd.MM.yyyy"}}</h4>
<h1>Welcome {{username}} </h1>
<h4>{{firstname}} {{lastname}}</h4>


<div style="padding: 10px; border: 1px solid red; display: flex; justify-content: center; align-items: center;">
    <label>Naziv proizvoda</label>
    <input type="text" [(ngModel)]="productName" (input)="changeProductName()" class="form-control" />
    <div>
        <select [(ngModel)]="selectedType" (change)="promijenitProductType()">
            <option *ngFor="let i of productTypeList" [value]="i.id">{{i.name}}</option>
        </select>
    </div>

</div>
<h4>Trenutno odabrani tip proizovda je: {{selectedTypeName}}</h4>
<button type="button" (click)="promijeniTekst()" class="btn btn-primary mt-4 mb-4">Promijeni tekst</button>
<input type="text" [(ngModel)]="someValue" class="form-control mt-4 mb-4" />
<p>{{someValue}}</p>

<button type="button" class="btn btn-primary" (click)="promijeniVrijednostZaListu()">Dugme</button>
<div *ngIf="!nizValue">
    <div class="mt-4 p-2" *ngFor="let niz of nizNekihImena" [ngClass]="{ 
        'bg-success text-white': niz.id % 2 === 0, 
        'bg-warning': niz.id % 2 !== 0 
    }" [ngStyle]="{ 
        'border': niz.name.length > 6 ? '2px solid red' : '1px solid black',
        'font-weight': niz.id === selectedId ? 'bold' : 'normal'
    }" (click)="selectedId = niz.id">
        <p>{{ niz.id }}</p>
        <p>{{ niz.name }}</p>
    </div>
</div>
